* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #000000;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 20px;
    gap: 30px;
    border-radius: 4px;
}

#navbar__logo {
    background-image: linear-gradient(to top, #ff1481 0%, #f52e2e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    list-style: none;
    padding-left: 0;
    font-size: 1.5rem;
}

.navbar__item, .navbar__btn {
    width: 100%;
}

.navbar__links {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navbar__links:hover {
    color: #051b80;
    text-decoration: underline;
}



.navbar__links:hover {
    color:#ff0077;
    text-decoration: none;
    transition: all 0.3s ease;
}


.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content:  center;
    align-items: center;
    text-decoration: none;
    padding: 10px 40px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f52e2e;
    color: rgb(255, 255, 255);
}

.button:hover {
    background: #ff0077;
    transition: all 0.3s ease;
}


    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        max-height: 13000px;
        z-index: 1;
        width: 80px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;  
        width: 100%;
        position:  absolute;
        left: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 100vh;
        top: 0;
        z-index: 0;
        background: #000000;
        border-radius: 10px;
    }

    .navbar__menu.active {
        display: grid;
        grid-template-columns: auto;
        margin: 0;  
        width: 80vw;
        position:  absolute;
        /*left: -1000px;
        opacity: 0;*/
        transition: all 0.5s ease;
        height: 100vh;
        top: 0;
        z-index: 0;
        background: #000000;
        border-radius: 10px;
        left: 0;
        opacity: 1;
    }

    #navbar__logo {
        padding-left: 25px;
    }
    
    .navbar__toogle.bar {
        height: 3px;
        width: 25px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffffff;
    }
    .navbar__item {
        width: 100%;
    }
    
    .navbar__links {
        text-align: center;
        padding: 2rem;  
        height: 100%;
        display: table;
        position: relative;
        width: 100%;
        
    }

    #mobile-menu {
        position: absolute;
        right: 20%;
        top: 5%;
        transform: translate(5%, 20%);
    }
    
    .navbar__btn {
        padding-top: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }



.burger {
    position: absolute;
    bottom: 10px;
    left: 10;
    background: transparent;
    
}

.burger img {
    height: 50px;
    
    


}
.bombardilo {
    width: 88.8vw;
    height: 99.6vh;
    margin-left: 198px;
}

.siusiak17 {
    background-image: url("images/sojuz.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.bbombardilo {
    background-image: url("images/bombardilo.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.trippitroppa {
    background-image: url("images/tripitroppa.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.tim {
    background-image: url("images/tim_cheese.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.john {
    background-image: url("images/John_Pork.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.r_sojuzek {
    background-image: url("images/r_sojuz.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.home {
    background-image: url("images/agent5.5.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@media only screen and (max-width: 768px) {
    .navbar {
      width: 100vw;
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      border-radius: 0;
    }
  
    .navbar__menu {
      display: none;
    }
  
    .navbar__menu.active {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #000;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 998;
      opacity: 1;
      gap: 10px;
      padding: 10px 0;
      border-radius: 0 0 10px 10px;
      height: 80vh;
    }
  
    .navbar__links {
      text-align: center;
      padding: 1rem;
      font-size: 1.2rem;
    }
  
    .navbar__btn {
      padding: 1rem 0;
    }
  
    .button {
      width: 80%;
      font-size: 2rem;
      padding: 10px;
    }
  
    .burger {
      position: fixed;
      bottom: 1000px;
      top: 15px;
      right: 10px;
      z-index: 1000;
      background: transparent;
    }
  
    .burger img {
      height: 40px;
      width: 40px;
    }
  
    .bombardilo {
      width: 100vw;
      margin-left: 0;
      height: auto;
    }
  
    .siusiak17,
    .bbombardilo,
    .trippitroppa,
    .tim,
    .john,
    .r_sojuzek,
    .home {
      background-attachment: fixed;
      height: 100vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
    }
  }